{{ $page := .}}
{{ with .Resources.Get "recept.jpg" }}
    {{ with .Fill "smart 195x150" }}
        <a href="{{ $page.RelPermalink }}" class="for-image">
            <div class="image-card">
            <div class="card-label">
                {{ $page.LinkTitle }}
            </div>
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                alt="{{ $page.LinkTitle }}" title="{{ $page.LinkTitle }}">
            </div>
        </a>
    {{ end }}
{{ end }}
